.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.timer-box {
  border-radius: 2rem;
  /* box-shadow: -20px 20px 50px -15px var(--clr-dark); */
  /* box-shadow: -10px 10px 0px 0px var(--clr-dark); */
  padding: 2rem;
  width: 34rem;
  height: 40rem;
  background: var(--clr-lighter-red);
}

.timer-header {
  /* border: 1px red solid; */
  height: 7rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.timer-work,
.timer-break {
  color: var(--clr-light);
  font-weight: 500;
  border: none;
  text-decoration: none;
  background: none;
  /* box-shadow: -2px 2px 5px var(--clr-dark); */
  border-radius: 8px;
  width: 7rem;
  height: 3rem;
  cursor: pointer;
  font-size: var(--size-2xl);
}

.timer-work {
  background: var(--clr-dark-red);
}

.timer-setting {
  position: relative;
  border: none;
  background: none;
  text-decoration: none;
  height: 2.5rem;
  width: 3rem;
  padding-bottom: 3rem;
  cursor: pointer;
  border-radius: 8px;
  /* box-shadow: -2px 2px 5px var(--clr-dark); */
}

.timer-setting span {
  position: absolute;
  right: 0.005rem;
  bottom: 0.05rem;
}

.timer-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  height: 30rem;
  position: relative;
}

.circular-progress {
  position: relative;
  height: 20rem;
  width: 20rem;
  bottom: 3rem;
  border-radius: 50%;
  background: conic-gradient(
    var(--clr-dark-red) 360deg,
    var(--clr-lightest-red) 0deg
  );
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: -15px 15px 30px -15px var(--clr-dark); */
}

.circular-progress::before {
  content: "";
  position: absolute;
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  background-color: var(--clr-red);
}

.progress-value {
  position: relative;
  bottom: 1.5rem;
  font-weight: bold;
  font-size: var(--size-7xl);
}

.btn-start,
.btn-restart {
  position: absolute;
  border: none;
  text-decoration: none;
  background: none;
  cursor: pointer;
}
.btn-start {
  top: 13.6rem;
  left: 8.3rem;
}
.btn-start span {
  font-size: var(--size-6xl);
}
.btn-restart {
  top: 14rem;
  left: 12.3rem;
}

/* media queries */

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  .btn-start {
    left: 11rem;
  }
  .btn-restart {
    left: 15rem;
  }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
