.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.timer__box {
  border-radius: 2rem;
  /* box-shadow: -20px 20px 50px -15px var(--clr-dark); */
  /* box-shadow: -10px 10px 0px 0px var(--clr-dark); */
  padding: 2rem;
  width: 34rem;
  height: 40rem;
  background: var(--clr-lighter-red);
}

.timer__header {
  /* border: 1px red solid; */
  height: 7rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.timer__work,
.timer__break {
  color: var(--clr-light);
  font-weight: 500;
  border: none;
  text-decoration: none;
  background: none;
  /* box-shadow: -2px 2px 5px var(--clr-dark); */
  border-radius: 8px;
  width: 7rem;
  height: 3rem;
  cursor: pointer;
  font-size: var(--size-2xl);
}

.timer__work {
  background: var(--clr-dark-red);
}

.timer__setting {
  position: relative;
  border: none;
  background: none;
  text-decoration: none;
  height: 2.5rem;
  width: 3rem;
  padding-bottom: 3rem;
  cursor: pointer;
  border-radius: 8px;
  /* box-shadow: -2px 2px 5px var(--clr-dark); */
}

.timer__setting:focus {
  outline: none;
}

.timer__setting span {
  position: absolute;
  right: 0.005rem;
  bottom: 0.05rem;
}

.timer__setting span:hover {
  font-variation-settings: "FILL" 1;
}

.timer__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  height: 30rem;
  position: relative;
}

.circular-progress {
  position: relative;
  height: 20rem;
  width: 20rem;
  bottom: 3rem;
  border-radius: 50%;
  background: conic-gradient(
    var(--clr-dark-red) 360deg,
    var(--clr-lightest-red) 0deg
  );
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: -15px 15px 30px -15px var(--clr-dark); */
}

.circular-progress::before {
  content: "";
  position: absolute;
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  background-color: var(--clr-red);
}

.progress-value {
  position: relative;
  bottom: 1.5rem;
  font-weight: bold;
  font-size: var(--size-7xl);
}

.btn-start,
.btn-pause,
.btn-restart {
  position: absolute;
  border: none;
  text-decoration: none;
  background: none;
  cursor: pointer;
}

.btn-start {
  top: 13.6rem;
  left: 8.3rem;
}

.btn-start span {
  font-size: var(--size-6xl);
}

.btn-pause {
  top: 13.2rem;
  left: 10.5rem;
  display: none;
}

.btn-pause span {
  font-size: var(--size-7xl);
  font-variation-settings: "wght" 200;
}

.btn-pause span:hover {
  font-variation-settings: "wght" 200, "FILL" 1;
}

.btn-start span:hover {
  font-variation-settings: "FILL" 1;
}

.btn-restart {
  top: 14rem;
  left: 12.3rem;
}

.btn-restart span:hover {
  font-variation-settings: "wght" 600;
}

.timer__dialog {
  margin-top: 8rem;
  margin-left: auto;
  margin-right: auto;
  width: 28rem;
  height: 40rem;
  border-radius: 2rem;
  border: none;
  outline: none;
}

.timer__dialog_header_container {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
}

.timer__dialog_header_container span {
  color: var(--clr-light-gray);
  opacity: 0.6;
}

.timer__dialog_header_container span:hover {
  opacity: 1;
}

.btn-close-dialog {
  border: none;
  background: none;
  position: absolute;
  right: 0.5rem;
  top: 0.3rem;
  cursor: pointer;
  outline: none;
}

.timer__dialog_header {
  font-size: var(--size-4xl);
  color: var(--clr-gray);
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.timer__dialog hr {
  margin-top: 0.5rem;
}

.timer__dialog::backdrop {
  backdrop-filter: blur(5px);
}

.timer__dialog_time_header {
  margin-top: 1rem;
  margin-left: 1rem;
  color: var(--clr-dark);
  font-size: var(--size-3xl);
}

.timer__dialog_subtitle_auto_start {
  margin-top: 3rem;
  margin-left: 1rem;
  color: var(--clr-dark);
  font-size: var(--size-2xl);
}

.timer__dialog_minute_box_header {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  font-size: var(--size-sm);
  color: var(--clr-light-gray);
}

.timer__dialog_minute_box {
  margin-top: 0.3rem;
  margin-left: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.timer__dialog_work_mins,
.timer__dialog_break_mins {
  outline: none;
  border-radius: 0;
  border: none;
  background-color: var(--clr-lightest-gray);
  height: 2rem;
  width: 5rem;
}

.timer__dialog_vol_slider_container {
  margin-top: 2rem;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 4rem;
}

.timer__dialog_subtitle_vol {
  color: var(--clr-dark);
  font-size: var(--size-2xl);
  margin-left: 1rem;
}

.timer__dialog_vol_slider {
  accent-color: var(--clr-red);
  outline: none;
  border: none;
  width: 12rem;
  opacity: 0.8;
}

/* media queries */

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  .btn-start {
    left: 11rem;
  }
  .btn-restart {
    left: 15rem;
  }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
