.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 2rem;
}

.timer-box {
  border-radius: 2rem;
  box-shadow: -20px 20px 50px -15px var(--clr-dark);
  padding: 2rem;
  width: 34rem;
  height: 40rem;
}

.timer-header {
  /* border: 1px red solid; */
  height: 7rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.timer-work,
.timer-break {
  font-weight: 500;
  border: none;
  text-decoration: none;
  background: none;
  box-shadow: -2px 2px 5px var(--clr-dark);
  border-radius: 8px;
  width: 7rem;
  height: 3rem;
  cursor: pointer;
  font-size: var(--size-2xl);
}

.timer-work {
  background: var(--clr-dark-red);
}

.timer-setting {
  border: none;
  background: none;
  text-decoration: none;
  height: 2.5rem;
  width: 3rem;
  padding-bottom: 3rem;
  cursor: pointer;
}

.timer-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  height: 30rem;
  position: relative;
}

.circular-progress {
  position: relative;
  height: 20rem;
  width: 20rem;
  bottom: 3rem;
  border-radius: 50%;
  background: conic-gradient(
    var(--clr-dark-red) 360deg,
    var(--clr-lighter-red) 0deg
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular-progress::before {
  content: "";
  position: absolute;
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  background-color: var(--clr-red);
}

.progress-value {
  position: relative;
  bottom: 1rem;
  font-weight: bold;
  font-size: var(--size-6xl);
}

.btn-start,
.btn-restart {
  position: absolute;
  border: none;
  text-decoration: none;
  background: none;
  cursor: pointer;
}
.btn-start {
  left: 8.3rem;
}
.btn-start span {
  font-size: var(--size-6xl);
}
.btn-restart {
  left: 12.3rem;
}

/* media queries */

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  .btn-start {
    left: 11rem;
  }
  .btn-restart {
    left: 15rem;
  }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
